<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/master.css' />
    <link rel='stylesheet' href='/stylesheets/css/index.css' />
    <link rel='stylesheet' href='/stylesheets/css/global_nav.css' />

  </head>
  <body>
    <div id="container">
      <%-include _global_nav.ejs %>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>